<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acerca de Nosotros</title>
  <link rel="stylesheet" href="../css/aboutUs.css">
</head>
<body>
  <header>
    <div class="logo">Logo</div>
    <nav>
        <a href="/index.html">Inicio</a>
        <a href="./aboutUs.html">Nosotros</a>
        <a href="./education.html">Educación</a>
        <a href="./login.html">Iniciar Sesión</a>
    </nav>
  </header>

  <main>
    <!-- Quiénes Somos -->
    <section id="nosotros" class="section nosotros">
      <div class="contenido">
        <div class="imagen">
          <p>Quiénes somos</p>
        </div>
      </div>
    </section>

    <!-- Integrantes -->
    <section id="equipo" class="section equipo">
      <div class="integrante"></div>
      <div class="integrante"></div>
    </section>

    <!-- Imagen destacada -->
    <section class="section imagen-destacada">
      <div class="estrella"></div>
    </section>

    <!-- Misión y Visión -->
    <section id="mision" class="section mision-vision">
      <div class="mision">Misión</div>
      <div class="vision">Visión</div>
    </section>

    <!-- Objetivos -->
    <section id="objetivos" class="section objetivos">
      <div class="contenido">
        <div class="objetivo">Objetivos</div>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2024 Plantilla Ejemplo</p>
  </footer>
</body>
</html>
